<ng-container *ngIf="!isLoading">
  <ion-header class="transparent-header">
    <ion-toolbar>
      <ion-title>{{ "_LOGIN" | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{ "_LOGIN" | translate }}</ion-title>
      </ion-toolbar>
    </ion-header>

    <div class="ion-padding">
      <form [formGroup]="loginForm" class="custom-form">
        <ion-item lines="full">
          <ion-input formControlName="email" [placeholder]="'_EMAIL' | translate" type="text" clearInput></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-input formControlName="password" [placeholder]="'_PASSWORD' | translate" type="password" clearInput>
          </ion-input>
        </ion-item>
      </form>

      <div class="mb-5 mt-3">
        <ion-button (click)="onLogin()" shape="round" expand="block">
          {{ "_LOGIN" | translate }}
        </ion-button>
        <!-- <ion-button (click)="onNoAccount()" expand="block" fill="clear">
          {{ "_NO_ACCOUNT" | translate }}?
        </ion-button> -->
      </div>

      <div class="display-flex ion-justify-content-center">
        <div *ngFor="let lang of supportedLangs; let last = last" [class.mr-2]="!last" (click)="onLang(lang)">
          <ion-text class="font-sm lang-text" [class.selected]="lang.selected">
            {{ lang.name }}
          </ion-text>
        </div>
      </div>

    </div>

  </ion-content>
</ng-container>

<ng-container *ngIf="isLoading">
  <div class="giver-loading">
    <ion-spinner></ion-spinner>
  </div>
</ng-container>
