/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./theme/utilities.scss";

.transparent-header > ion-toolbar {
    --border-style: none !important;
    --background: transparent !important;
}

.custom-form {
    background: var(--ion-color-light);
    border-radius: 8px;
}

.custom-form > ion-item {
    --background: transparent;
    --inner-border-width: 0px;
    --border-width: 0px 0px 0.55px 0px;
    --show-inset-highlight: 0;
    --show-full-highlight: 1;
}

.custom-form > ion-item:last-of-type {
    --border-width: 0px 0px 0px 0px;
}

.flex-center {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}
